
/*-------------- Styles for INDEX.HTML -------------- */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 1;
}

.flexbox-item-header {
    min-height: 70px;
    background-color: #008080;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.flexbox-item-centre {
    min-height: 570px;  
    background-color: #fcf9ec;
    flex-grow: 1;
}

.flexbox-item-centre-1 {
    min-height: 570px;  
    background-color: white;
    flex-grow: 1;
}

.flexbox-item-footer {
    min-height: 70px;
    background-color: #E57F3D;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.paragraph-copyright {
    text-align: center;
    font-family: 'Ysabeau SC Thin';
    font-size: 15px;
    font-weight: bolder;
    color: #36454F ;
    src: url(https://fonts.google.com/specimen/Ysabeau+SC);
    padding-top: 5px;
}

.img-logo {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading-pets {
    font-family: 'Permanent Marker';
    font-size: 65px;
    font-weight: bold;
    color: #E57F3D; ;
    src: url(https://fonts.google.com/specimen/Ysabeau+SC);
    margin-left: 30px;
    margin-top: 0px;
}

.heading-adoption {
    font-family: 'PoetsenOne';
    font-size: 50px;
    font-weight: bold;
    color: #008080 ;
    src: url(https://fonts.google.com/specimen/Poetsen+One);

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.heading-adoption-1 {
    font-family: 'PoetsenOne';
    font-size: 60px;
    font-weight: bold;
    color: #008080 ;
    src: url(https://fonts.google.com/specimen/Poetsen+One);
    margin-left: 40px;
}

.custom-select{
    height: 40px;
    width: 1px;
}

.custom-select select {
    height: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.navigation-search {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation-search input {
    width: 75px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.centre-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 570px;
    align-content: center;
    justify-content: center;
}


.centre-container-left {
    flex-direction: column;
}

.centre-container-right {
    display: flex;
    flex-direction: column;
}

.center-container-image {
    width: 450px;
    height: 450px;
    border-radius: 70%;
    margin-left: 80px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
    font-size: 10px;
    scale: 50%;
}

.material-symbols-outlined {
    scale: 90%;
}

.navigation-search {
    display: flex;
    align-items: center;
    margin-left: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.navigation-search form {
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 24px;
    color: white;
    margin-left: 15px;
}

.navigation-search input {
    width: 200px;
    height: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

/*-------------- Styles for Gallery.HTML -------------- */

.flexbox-pets {
    display: flex;
    flex-direction: column;
}

.pets-centre-top {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.pets-centre-bottom {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.pets-description {
    margin: 0;
    font-size: medium;
    font-family: 'Ysabeau SC Thin';
}

.pets-heading {
    margin-top: 40px;
    font-size: large;
    font-weight: lighter;
    font-family: 'PoetsenOne';
}

.pets-center-image{
    width: 500px;
    padding: 40px;
}

.pets-content-table{
    border-collapse: collapse;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 1em;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    font-family: 'Ysabeau SC Thin';
}


.pets-content-table thead tr{
    background-color: #F5F5DC;
    text-align: left;
    color: green;
}

.pets-content-table th {
    padding: 4px 8px;
    text-align: left;
}

.pets-content-table td {
    padding: 6px 10px;
    text-align: left;
}

/*-------------- Styles for add.HTML -------------- */

.flexbox-add {
    display: flex;
    flex-direction: column;
}

.add-centre-top {
    width: 100%;
    height: 70px;
    align-items: center;
    font-family: 'Ysabeau SC Thin';
    font-weight: bolder;
    font-size: 12px;
}

.add-centre-middle {
    width: 100%;
    height: 430px;
}

.add-centre-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    
}

.add-center-heading {
    margin-top: 10px;
    font-size: large;
    font-weight: lighter;
    font-family: 'PoetsenOne';
}


.add-center-description {
    margin: 0;
    font-size: medium;
    font-family: 'Ysabeau SC Thin';
    font-size: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 9px;
    width: 95%;
    font-family: 'Ysabeau SC Thin';
    font-weight: bold;
    padding: 1px;
}

.input-box-image{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 30px;
    width: 95%;
    font-family: 'Ysabeau SC Thin';
    font-weight: bold;
    padding: 1px;
    align-items: center;
    margin-top: 9px;
}

.image-label{
    margin-right: 10px;
}

.image-description{ 
    margin-left: 10px;
    color: red;
    font-family: 'Ysabeau SC Thin';
    font-weight: bold;
    font-size: 13px;

}

.input-box input, .input-box textarea, .input-box select {
    height: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    
}

.roundedbuttonv3{
    background-color: #008080;
    color: white;
    font-family: 'Ysabeau SC Thin';
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.roundedbuttonv3:hover {
    background-color: #054b4b;
}

.button-margin {
    margin: 10px;
}

/*-------------- Styles for Gallery.HTML -------------- */

.gallery-centre-top {
    margin-top: 20px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.gallery-centre-bottom {
    width: 80%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.gallery-center-heading {
    margin-top: 10px;
    font-size: large;
    font-weight: lighter;
    font-family: 'PoetsenOne';
}


.gallery-center-description {
    margin: 0;
    font-size: medium;
    font-family: 'Ysabeau SC Thin';
    font-size: 15px;
}

.gallery-pets {
    height: 210px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
}


.gallery-pets-hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    display: flex;
    transition: opacity 0.1s ease;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.gallery-pets {
    height: 210px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pets-top {
    height: 160px;
    width: 100%;
    position: relative;
}

.gallery-pet-option {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.gallery-pets-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Ysabeau SC Thin';
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.gallery-pets:hover .gallery-pets-hover {
    opacity: 0.6;
}

.pets-bottom {
    height: 50px;
    width: 100%;
    background-color: white;
    font-family: 'PoetsenOne';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.pets-bottom p {
    margin: 0;
    font-size: 13px;
    color: black;
}